# Salin file ini menjadi .env dan isi dengan kredensial Snowflake kamu
# JANGAN commit file .env ke Git!

SNOWFLAKE_ACCOUNT=<your_account>
SNOWFLAKE_USER=<your_username>
SNOWFLAKE_PASSWORD=<your_password>
SNOWFLAKE_ROLE=ACCOUNTADMIN
SNOWFLAKE_WAREHOUSE=COMPUTE_WH
SNOWFLAKE_DATABASE=GEOTECH
SNOWFLAKE_SCHEMA=CORE

